.containers {
    position: relative;
}

.containers::before {
    content: "";
    display: block;
    opacity: 0.4;
    background-color: rgba(245, 244, 208, 0.5);
    background-image: url('/assets/LAG LOGO.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

form{
    width: 50%;
}

form div {
    width: 70%;
    min-width: 230px;
    margin: 0 auto;
}


@media screen and (max-width: 470px) {
    form {
        width: 100%;
        padding: 0 5%;
    }

    .containers::before {
        background-size: cover;
    }
}
