<div class="containers h-100 d-flex justify-content-center align-items-center">
        <form [formGroup]="loginForm" (submit)="login()">
            <span class="text-danger">{{ errorMessage }}</span>
            <div class="mb-3">
                <label for="username" class="form-label fs-5">username</label>
                <input type="username" class="form-control border border-dark bg-transparent" id="username" formControlName="username" (keyup.enter)="login()">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label fs-5">Password</label>
                <input type="password" class="form-control border border-dark bg-transparent" id="password" formControlName="password" (keyup.enter)="login()">
            </div>

            <div class="mb-4">
                <button type="button" class="btn btn-primary form-control mb-3 border border-dark" (click)="login()">login</button>
            </div>
            
            
        </form>
</div>