<app-admin-navbar></app-admin-navbar>

<app-superadmin-side-nav (onToggleSideNav)="onToggleSideNav($event)" [name]="name"></app-superadmin-side-nav>

<div class="modal fade" tabindex="-1" id="alert-modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ alertTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-btn"></button>
            </div>

            <div class="modal-body">
                <span>{{ alertMessage }}</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#alert-modal" id="open-modal">open modal</button>

<section class="body contents border p-5" [ngClass]="getBodyClass()">
    <h1 class="fw-bolder fs-1 text-center w-100">Add new Item</h1>
    
    <div class="container border mt-5 rounded">
        <form [formGroup]="addForm" class="p-4">

            <div class="mb-3">
                <label for="category" class="form-label fs-5">Category</label>
                <select type="text" class="form-select" id="category" (change)="categoryChanged()" formControlName="category">
                    <option value="" selected hidden class="text-dark"> -- Choose Category --</option>
                    <option class="form-option" *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
                    <option class="form-option" value="other">Other</option>
                </select>
            </div>

            <div class="mb-3" *ngIf="newCategory">
                <label for="category_name" class="form-label fs-5">Category Name</label>
                <input type="text" class="form-control" id="category_name" (input)="updateCategoryName($event)">
            </div>

            <div class="mb-3">
                <label for="name" class="form-label fs-5">Item Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>

            <div class="mb-3">
                <label for="stock" class="form-label fs-5">Stock</label>
                <input type="text" class="form-control" id="stock" formControlName="stock">
            </div>

            <button type="button" class="btn btn-primary form-control mb-3" (click)="submit()">Submit</button>
        </form>
    </div>
</section>