<app-head-nav></app-head-nav>

<section class="border-top border-bottom border-dark">
    <div class="container-fluid position-relative bg-success">
        <div class="carousel-container-in-components">
            <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
        </div>

        <div class="services text-center">
            <h1 class="fw-bolder fs-1 text-uppercase">OUR SERVICES</h1>
        </div>
    </div>
</section>

<section class="w-100 p-0">
    <div class="container-fluid">
        <div class="row p-5 border-bottom border-top flex-direction-on-md bg-light" id="load-side-and-service-entrance">
            <div class="col mx-5">
                <img src="" alt="Load Side and Service Entrance">
            </div>
            <div class="col text-center mx-5">
                <h2 class="mt-5 text-uppercase fw-bolder">Load Side and Service Entrance</h2>
                <div class="text-justified">
                    <p class="mt-5 text-indention fs-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, amet nobis facere possimus non adipisci! Saepe rerum laboriosam corporis dignissimos harum voluptatem reprehenderit numquam reiciendis dolor a totam unde accusamus, veniam at. Laborum in maxime magni aut molestiae sint magnam hic inventore, nostrum rerum cum modi neque enim amet eum voluptates illum eius ut optio recusandae vero incidunt sed. Blanditiis labore laborum a cum est deserunt ipsum qui, obcaecati velit tempore dolorem. Expedita sunt ratione qui dolorem odio culpa ab explicabo officiis voluptates, illo reiciendis sequi deserunt, reprehenderit accusamus hic vel officia id exercitationem cumque excepturi totam possimus soluta repellat!
                    </p>
                </div>
                
            </div>
        </div>

        <div class="row p-5 border-bottom reverse-direction-flex bg-light" id="residential-commercial-and-industrial-electrical-services">
            <div class="col mx-5">
                <img src="" alt="Residential, Commercial, and Industrial Electrical Services">
            </div>
            <div class="col mx-5 text-center">
                <h2 class="mt-5 text-uppercase fw-bolder">Residential, Commercial, and Industrial Electrical Services</h2>
                <div class="text-justified">
                    <p class="mt-5 text-indention fs-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, amet nobis facere possimus non adipisci! Saepe rerum laboriosam corporis dignissimos harum voluptatem reprehenderit numquam reiciendis dolor a totam unde accusamus, veniam at. Laborum in maxime magni aut molestiae sint magnam hic inventore, nostrum rerum cum modi neque enim amet eum voluptates illum eius ut optio recusandae vero incidunt sed. Blanditiis labore laborum a cum est deserunt ipsum qui, obcaecati velit tempore dolorem. Expedita sunt ratione qui dolorem odio culpa ab explicabo officiis voluptates, illo reiciendis sequi deserunt, reprehenderit accusamus hic vel officia id exercitationem cumque excepturi totam possimus soluta repellat!
                    </p>
                </div>
                
            </div>
        </div>

        <div class="row p-5 border-bottom flex-direction-on-md bg-light" id="net-metering-installation">
            <div class="col mx-5">
                <img src="" alt="Net Metering Installation">
            </div>
            <div class="col mx-5 text-center">
                <h2 class="mt-5 text-uppercase fw-bolder">Net Metering Installation</h2>
                <div class="text-justified">
                    <p class="mt-5 text-indention fs-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, amet nobis facere possimus non adipisci! Saepe rerum laboriosam corporis dignissimos harum voluptatem reprehenderit numquam reiciendis dolor a totam unde accusamus, veniam at. Laborum in maxime magni aut molestiae sint magnam hic inventore, nostrum rerum cum modi neque enim amet eum voluptates illum eius ut optio recusandae vero incidunt sed. Blanditiis labore laborum a cum est deserunt ipsum qui, obcaecati velit tempore dolorem. Expedita sunt ratione qui dolorem odio culpa ab explicabo officiis voluptates, illo reiciendis sequi deserunt, reprehenderit accusamus hic vel officia id exercitationem cumque excepturi totam possimus soluta repellat!
                    </p>
                </div>
                
            </div>
        </div>

        <div class="row p-5 border-bottom reverse-direction-flex bg-light" id="designing-of-electric-plan">
            <div class="col mx-5">
                <img src="" alt="Designing of Electric Plan">
            </div>
            <div class="col mx-5 text-center">
                <h2 class="mt-5 text-uppercase fw-bolder">Designing of Electric Plan</h2>
                <div class="text-justified">
                    <p class="mt-5 text-indention fs-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, amet nobis facere possimus non adipisci! Saepe rerum laboriosam corporis dignissimos harum voluptatem reprehenderit numquam reiciendis dolor a totam unde accusamus, veniam at. Laborum in maxime magni aut molestiae sint magnam hic inventore, nostrum rerum cum modi neque enim amet eum voluptates illum eius ut optio recusandae vero incidunt sed. Blanditiis labore laborum a cum est deserunt ipsum qui, obcaecati velit tempore dolorem. Expedita sunt ratione qui dolorem odio culpa ab explicabo officiis voluptates, illo reiciendis sequi deserunt, reprehenderit accusamus hic vel officia id exercitationem cumque excepturi totam possimus soluta repellat!
                    </p>
                </div>
                
            </div>
        </div>

        <div class="row p-5 border-bottom flex-direction-on-md bg-light" id="fabrication-of-gutter-box-for-multi-metering-service-entrance">
            <div class="col mx-5">
                <img src="" alt="Fabrication of Gutter Box for Multi-metering Service Entrance">
            </div>
            <div class="col mx-5 text-center">
                <h2 class="mt-5 text-uppercase fw-bolder">Fabrication of Gutter Box for Multi-metering Service Entrance</h2>
                <div class="text-justified">
                    <p class="mt-5 text-indention fs-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, amet nobis facere possimus non adipisci! Saepe rerum laboriosam corporis dignissimos harum voluptatem reprehenderit numquam reiciendis dolor a totam unde accusamus, veniam at. Laborum in maxime magni aut molestiae sint magnam hic inventore, nostrum rerum cum modi neque enim amet eum voluptates illum eius ut optio recusandae vero incidunt sed. Blanditiis labore laborum a cum est deserunt ipsum qui, obcaecati velit tempore dolorem. Expedita sunt ratione qui dolorem odio culpa ab explicabo officiis voluptates, illo reiciendis sequi deserunt, reprehenderit accusamus hic vel officia id exercitationem cumque excepturi totam possimus soluta repellat!
                    </p>
                </div>
                
            </div>
        </div>

        <div class="row p-5 border-bottom reverse-direction-flex bg-light" id="installation-of-concrete-post-and-intermediate-pole">
            <div class="col mx-5">
                <img src="" alt="Installation of Concrete Post and Intermediate Pole">
            </div>
            <div class="col mx-5 text-center">
                <h2 class="mt-5 text-uppercase fw-bolder">Installation of Concrete Post and Intermediate Pole</h2>
                <div class="text-justified">
                    <p class="mt-5 text-indention fs-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, amet nobis facere possimus non adipisci! Saepe rerum laboriosam corporis dignissimos harum voluptatem reprehenderit numquam reiciendis dolor a totam unde accusamus, veniam at. Laborum in maxime magni aut molestiae sint magnam hic inventore, nostrum rerum cum modi neque enim amet eum voluptates illum eius ut optio recusandae vero incidunt sed. Blanditiis labore laborum a cum est deserunt ipsum qui, obcaecati velit tempore dolorem. Expedita sunt ratione qui dolorem odio culpa ab explicabo officiis voluptates, illo reiciendis sequi deserunt, reprehenderit accusamus hic vel officia id exercitationem cumque excepturi totam possimus soluta repellat!
                    </p>
                </div>
                
            </div>
        </div>

        <div class="row p-5 border-bottom flex-direction-on-md bg-light" id="meralco-service-applications">
            <div class="col mx-5">
                <img src="" alt="Meralco Service Applications">
            </div>
            <div class="col mx-5 text-center">
                <h2 class="mt-5 text-uppercase fw-bolder">Meralco Service Applications</h2>
                <div class="text-justified">
                    <p class="mt-5 text-indention fs-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, amet nobis facere possimus non adipisci! Saepe rerum laboriosam corporis dignissimos harum voluptatem reprehenderit numquam reiciendis dolor a totam unde accusamus, veniam at. Laborum in maxime magni aut molestiae sint magnam hic inventore, nostrum rerum cum modi neque enim amet eum voluptates illum eius ut optio recusandae vero incidunt sed. Blanditiis labore laborum a cum est deserunt ipsum qui, obcaecati velit tempore dolorem. Expedita sunt ratione qui dolorem odio culpa ab explicabo officiis voluptates, illo reiciendis sequi deserunt, reprehenderit accusamus hic vel officia id exercitationem cumque excepturi totam possimus soluta repellat!
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
