<app-admin-navbar></app-admin-navbar>

<app-superadmin-side-nav (onToggleSideNav)="onToggleSideNav($event)" [name]="name"></app-superadmin-side-nav>

<div class="modal fade" tabindex="-1" id="resign-admin-modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Admin Resign</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="resign-close-btn"></button>
            </div>

            <div class="modal-body">
                <span>Admin {{ adminName }} has resigned?</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No</button>
                <button type="button" class="btn btn-primary" (click)="resignAdmin()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="active-admin-modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Admin Activate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="active-close-btn"></button>
            </div>

            <div class="modal-body">
                <span>Bring {{ adminName }} back as admin?</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No</button>
                <button type="button" class="btn btn-primary" (click)="activateAdmin()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="alert-modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ alertTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-btn"></button>
            </div>

            <div class="modal-body">
                <span>{{ alertMessage }}</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#alert-modal" id="open-modal">open modal</button>

<section class="body border p-5" [ngClass]="getBodyClass()">
    <h1 class="fw-bolder fs-1 text-center w-100">Admin Details</h1>

    <div class="container border border-dark mt-5 h-75 rounded">
        <form class="p-4" [formGroup]="editForm">
            <div class="mb-3">
                <label for="id" class="form-label fs-5">Id</label>
                <input type="text" class="form-control border-secondary" id="id" formControlName="id">
            </div>

            <div class="mb-3">
                <label for="name" class="form-label fs-5">Name</label>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control border-secondary" id="fname" formControlName="fname" placeholder="First Name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control border-secondary" id="mname" formControlName="mname" placeholder="Middle Name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control border-secondary" id="lname" formControlName="lname" placeholder="Last Name">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="position" class="form-label fs-5">Position</label>
                <input type="text" class="form-control border-secondary" id="position" formControlName="position">
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <label for="department" class="form-label fs-5">department</label>
                    </div>

                    <div class="col d-flex justify-content-end">
                        <span class="form-label fs-5 permission-btn" [routerLink]="link">Edit Permissions</span>
                    </div>
                </div>
                <input type="text" class="form-control border-secondary" id="department" formControlName="department">
            </div>

            <div class="mb-4">
                <label for="status" class="form-label fs-5">Status</label>
                <input type="text" class="form-control border-secondary" id="status" formControlName="status">
            </div>

            <div class="row mb-3" *ngIf="disabled">
                <div class="col">
                    <button type="button" class="btn btn-primary form-control" (click)="update()" [disabled]="resigned">Update</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger form-control" data-bs-toggle="modal" data-bs-target="#resign-admin-modal" *ngIf="!resigned">Resign</button>
                    <button type="button" class="btn btn-danger form-control" data-bs-toggle="modal" data-bs-target="#active-admin-modal" *ngIf="resigned">Activate</button>
                </div>
                
            </div>

            <div class="mb-3">
                <button type="button" class="btn btn-primary form-control mb-3" (click)="updateDetails()" *ngIf="!disabled">Update Admin</button>
                <button type="button" class="btn btn-secondary form-control mb-3" (click)="cancelUpdate()" *ngIf="!disabled">Cancel Update</button>
            </div>
        </form>
    </div>
</section>
